@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Nosifer&family=Press+Start+2P&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
}

.container {
    height: 400px;
    display: flex;
    padding-right: 100px;
    padding-left: 50px;
    border: solid #41FF24 2px;
}

.upper-div {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*.links{
    display: flex;
    justify-content:end;
    padding-right: 60px;
}
li{
    padding: 20px;
    list-style: none;
}
a{
    text-decoration: none;
    font-size: 20px;
    background-color: deepskyblue;
    border-radius: 10px;
    color: rgb(18, 1, 255);
}
a:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(106, 255, 0);
    transform: translate(-1 , -1);
}*/
h1 {
    font-size: 50px;
    text-shadow: 1px 2px 15px #41FF24;
    font-family: 'Nosifer', cursive;
}

p {
    color: aliceblue;
}


.container2 {
    height: 400px;
    display: flex;
    padding-right: 100px;
    padding-left: 50px;
    border: solid #41FF24 2px;
    
}

.bottom-left {
    color: #fff;
    border-right: #41FF24 solid 2px;
    padding-top: 100px;
    padding-right:20px ;
}

.bottom-right {
    color: #fff;
    padding-top: 100px;
    padding-left: 30px;
}
.bottom-left:hover{
    font-size: 25px;
}
.bottom-right:hover{
    font-size: 25px;
}
